
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card-article {
  width: 300px; /* Remove after adding swiper js */
  border-radius: 1.25rem;
  overflow: hidden;
}

.card-image {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background-color: #D9D9D9;
  overflow: hidden;
  margin: auto;
}

.card-data {
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
}

.card-img {
  width: 180px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}
.card-shadow {
  width: 200px;
  height: 200px;
  background-color: var(--first-color-alt);
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}

.card-name {
  font-size: var(--h2-font-size);
  color: var(--second-color);
  margin-bottom: .75rem;
}

.card-description {
  font-weight: 500;
  margin: 1rem 0;
}

.contacts > p {
  margin: 5px 0;
}


/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}
/* 
.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--second-color);
  display: none;
} */

.swiper-button-prev {
  left: 10%;
}

.swiper-button-next {
  right: 10%;
}

.swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}

@media screen and (max-width: 320px) {
  .card-data {
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .card-content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

@media screen and (min-width: 1120px) {
  .card-container {
    max-width: 1120px;
  }
}