* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
}
.align-items {
  align-items: center;
}
header {
  padding: 2% 0;
}
.container {
  justify-content: space-evenly;
}
.interactive-group img {
  cursor: pointer;
  margin-left: 3px;
}
.interactive-group {
  position: relative;
}
.interactive-group,
.margin-left {
  margin-right: 44px;
}
.links > p {
  cursor: pointer;
}
.switcher {
  display: flex;
  height: 20px;
  width: 40px;
  background-color: #7A7A7A;
  border-radius: 11px;
  margin-right: 10px;
  cursor: pointer;
}
.switcher-circle-day,
.switcher-circle-night {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.switcher-circle-day {
  background-color: white;
  border: 1px solid black;
  background-image: url('../img/button.png');
  background-repeat: no-repeat;
}
.switcher-circle-night {
  display: none;
  margin-left: 50%;
  background-color: black;
  background-image: url(../img/moon.png);
  background-repeat: no-repeat;
}
.switcher-active {
  display: flex;
}
.switcher-non-active {
  display: none;
}
.more-button,
.more-button-list {
  display: none;
}

.interactive-modal {
  display: none;
  position: fixed;
  z-index: 5;
  flex-direction: column;
  width: 160px;
  height: 153px;
  border-style: none solid solid;
  justify-content: center;
  background-color: #fff;
  box-shadow: 1px 26px 25px 5px #373737;
}
.interactive-active {
  display: flex;
}

.interactive-modal a {
  font-size: 12px;
  color: #000000;
  text-decoration: none;

}
.interactive-modal a:not(:last-child) {
  margin-bottom: 12px;
}
.interactive-modal a:hover {
  background-color: rgb(189, 184, 184);
}

.switcher-modal {
  display: none;
  position: absolute;
  top: 12%;
  left: 35%;
  width: 576px;
  height: 316px;
  border-radius: 15px;
  background-color: #efefef;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 4px 30px 0px;
}
.modal-active {
  display: flex;
}
.switcher-modal p,
.switcher-modal label {
  text-align: center;
}
.switcher-modal label {
  margin-bottom: 10px;
}
.switcher-modal form {
  display: inline-flex;
  flex-direction: column;
  margin: 30px 0 20px 0;
}
.switcher-modal input {
  width: 169px;
  height: 35px;
  border-radius: 20px;
  padding: 10px 90px 10px 10px;
  background-color: #D7D7D7;
}

.switcher-modal button {
  background-color: #000000;
  width: 105px;
  height: 35px;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff
}

.switcher-modal_first {
  top: 50%;
  right: 7%;
}
.switcher-modal_first,
.switcher-modal_second,
.switcher-modal_third,
.switcher-modal_fourth,
.thanks-modal_first,
.thanks-modal_second,
.thanks-modal_third,
.thanks-modal_fourth,
.email-modal_first,
.email-modal_second,
.email-modal_third,
.email-modal_fourth  {
  position: absolute;
}
.switcher-modal_second {
  right: 15%;
  bottom: 22%;
}
.switcher-modal_third {
  bottom: 22%;
  left: 14%;
}
.switcher-modal_fourth {
  left: 9%;
  top: 50%;
}
.cross-menu,
.thanks-cross-menu,
.email-cross-menu {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 15px;
  height: 3px;
  background-color: black;
  transform: rotate(45deg);
}
.cross-menu::before,
.thanks-cross-menu:before,
.email-cross-menu:before {
  content: "";
  transform: rotate(-93deg);
  width: 15px;
  height: 3px;
  display: block;
  background-color: black;
}
.modal-cross {
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 5%;
  width: 30px;
  height: 21px;
  opacity: 0.3;
}
.modal-cross:hover {
  opacity: 1;
}
.modal-cross:before, .modal-cross:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333;
}
.modal-cross:before {
  transform: rotate(45deg);
}
.modal-cross:after {
  transform: rotate(-45deg);
}

.thanks-subscription,
.email-subscription {
  display: none;
  position: absolute;
  left: 40%;
  top: 17%;
  width: 463px;
  height: 245px;
  background-color: #efefef;
  box-shadow: 0px 4px 30px 0px;
  border-radius: 15px
}

.thanks-subscription p,
.email-subscription p {
  position: absolute;
  top: 50%;
  transform: translateX(126%);
}
.thanks-modal_first,
.email-modal_first {
  right: 10%;
  top: 25%;
}
.thanks-modal_second,
.email-modal_second {
  top: 58%;
  right: 17%;
}
.thanks-modal_third,
.email-modal_third {
  top: 51%;
  right: 73%;
}
.thanks-modal_fourth,
.email-modal_fourth {
  left: 9%;
  top: 24%;
}
.thanks-active,
.email-active {
  display: block;
}
@media screen and (max-width: 992px) {
  .switcher-modal {
    left: 4%;
  }
  .thanks-subscription {
    left: 10%;
    top: 15%;
  }
}

@media screen and (max-width: 600px) {
  .list-container {
    position: relative;
  }
  .list-container.active .more-button-list {
    opacity: 1;
    transform: scale(1);
  }
  .list-container.active .more-button-list-item {
    -webkit-animation: fadeInItem 0.6s 0.2s forwards;
    animation: fadeInItem 0.6s 0.2s forwards;
  }
  .list-container.active .more-button-list-item >img {
    margin-left: 5px;
    cursor: pointer;
  }
  .list-container.active .more-button-list-item:nth-child(2) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .list-container.active .more-button-list-item:nth-child(3) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    justify-content: center;
  }
  .list-container.active .more-button-list-item:nth-child(4) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  .list-container.active .more-button {
    -webkit-animation: onePulse 0.6s forwards linear;
    animation: onePulse 0.6s forwards linear;
  }
  .list-container.active .menu-icon-wrapper {
    transform: rotate(-45deg);
  }
  .list-container.active .menu-icon-line.first {
    transform: rotate(-90deg) translateX(1px);
  }
  .list-container.active .menu-icon-line.last {
    transform: rotate(-90deg) translateX(-1px);
  }
  
  .more-button {
    background-color: #5c67ff;
    box-shadow: 0px 0px 0px 4px rgba(92, 103, 255, 0.3);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: 0.2s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    z-index: 2;
  }
  .more-button:hover, .more-button:focus {
    box-shadow: 0px 0px 0px 8px rgba(92, 103, 255, 0.3);
    background-color: #4854ff;
  }
  .more-button:focus {
    outline: 0;
  }
  .more-button-list {
    display: block;
    background-color: #fff;
    border-radius: 8px;
    list-style-type: none;
    width: 140px;
    height: 175px;
    box-shadow: 0px 0px 4px 4px rgba(150, 157, 249, 0.16);
    padding: 0;
    padding: 6px;
    position: absolute;
    right: 24px;
    top: 60%;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom right;
    transition: all 0.3s ease 0.1s;
  }
  .more-button-list-item,
  .more-button-list-switcher {
    display: flex;
    align-items: center;
    color: #1c3991;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in;
    transform: translatex(-10px);
  }
  .more-button-list-switcher > .switcher {
    margin: 0 auto;
  }
  .more-button-list-item:hover {
    color: #5c67ff;
  }
  .more-button-list-item:after {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 24px);
    left: 12px;
    bottom: 0;
    background-color: rgba(132, 160, 244, 0.1);
  }
  .more-button-list-item:last-child:after {
    display: none;
  }
  .more-button-list-item svg {
    width: 18px;
    height: 18px;
  }
  .more-button-list-item span {
    display: inline-block;
    line-height: 20px;
    font-size: 14px;
    margin-left: 8px;
  }
  
  @-webkit-keyframes onePulse {
    0% {
      box-shadow: 0px 0px 0px 0px rgba(92, 103, 255, 0.3);
    }
    50% {
      box-shadow: 0px 0px 0px 12px rgba(92, 103, 255, 0.1);
    }
    100% {
      box-shadow: 0px 0px 0px 4px rgba(92, 103, 255, 0.3);
    }
  }
  
  @keyframes onePulse {
    0% {
      box-shadow: 0px 0px 0px 0px rgba(92, 103, 255, 0.3);
    }
    50% {
      box-shadow: 0px 0px 0px 12px rgba(92, 103, 255, 0.1);
    }
    100% {
      box-shadow: 0px 0px 0px 4px rgba(92, 103, 255, 0.3);
    }
  }
  @-webkit-keyframes fadeInItem {
    100% {
      transform: translatex(0px);
      opacity: 1;
    }
  }
  @keyframes fadeInItem {
    100% {
      transform: translatex(0px);
      opacity: 1;
    }
  }
  
  .menu-icon-wrapper {
    border-radius: 2px;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
  }
  
  .menu-icon-line {
    background-color: #fff;
    border-radius: 2px;
    width: 100%;
    height: 2px;
  }
  .menu-icon-line.half {
    width: 50%;
  }
  .menu-icon-line.first {
    transition: transform 300ms cubic-bezier(0.52, -0.8, 0.52, 0.52);
    transform-origin: right;
  }
  .menu-icon-line.last {
    align-self: flex-end;
    transition: transform 300ms cubic-bezier(0.52, -0.8, 0.52, 0.52);
    transform-origin: left;
  }
  .welcome-wrapper,
  .links {
    display: none;
  }  
  .interactive-modal {
    width: 140px;
  }
}

@media screen and (max-width: 586px) {
  .switcher-modal {
    width: 400px;
  }
  .thanks-subscription {
    width: 300px;
  }
  .thanks-subscription p {
    transform: translateX(69%);
  }
}
@media screen and (max-width: 499px) {
  .more-button-list {
    top: 97%;
  }
  .switcher-modal {
    width: 248px;
    left: 7%;
  }
  .thanks-subscription {
    width: 223px;
  }
  .thanks-subscription p {
    transform: translateX(48%);
  }
  .switcher-modal_third {
    bottom: 14%;
    left: 8%;
  }
  .switcher-modal_second {
    right: 7%;
    bottom: 14%;
  }
}