<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./gallery.css">
  <title>Галерея зображень</title>
</head>
<body>
  <div class="return-link"></div>
  <a href="../../index.html" class="return">Повернутися на попередню сторінку</a>
  <div class="gallery-cards">
    <!-- список для додання елементів галереї -->
    <ul class="gallery js-gallery"></ul>

    <!--
      Модальне вікно для повнорозмірного зображення  -->
    <div class="lightbox js-lightbox">
      <div class="lightbox__overlay"></div>

      <div class="lightbox__content">
        <img class="lightbox__image" src="" alt="" />
      </div>

      <button
        type="button"
        class="lightbox__button"
        data-action="close-lightbox"
      ></button>
    </div>
  </div>

  <script src="./gallery.js" type="module"></script>
</body>
</html>